#tileBox {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
}
#TopScores {
  border: 1px black solid;
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GamePathLink {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.GamePathTile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
