#tileBox {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
}
#TopScores {
  border: 1px black solid;
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GamePathLink {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.GamePathTile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clickAnimation {
  /* position: fixed;
  box-sizing: border-box; */
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  animation: clickAnimation 0.4s ease-out;
  z-index: 99999;
}
@keyframes clickAnimation {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    /* margin: -0.25em; */
    border-width: 0.5em;
  }
  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    /* margin: -7.5em; */
    border-width: 0.03em;
  }
}

.ringCursor {
  display: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
